Chapter03/LoanOriginationProcess/LoanOrigination/SOA/WSDLs/LOProcessOneRequestTwoResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LOProcessOneRequestTwoResponse" xmlns:tns6="http://www.myloanoriginationsystem.org"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/LOProcessOneRequestTwoResponse"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LOProcessOneRequestTwoResponse">
            <xsd:import namespace="http://www.myloanoriginationsystem.org" schemaLocation="../Schemas/LoanOrigination.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:LoanRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endApprovedResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:LoanRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endNotApprovedResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:LoanRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endApprovedResponse">
        <wsdl:part name="parameters" element="tns:endApprovedResponse"/>
    </wsdl:message>
    <wsdl:message name="endNotApprovedResponse">
        <wsdl:part name="parameters" element="tns:endNotApprovedResponse"/>
    </wsdl:message>
    <wsdl:portType name="LOProcessOneRequestTwoResponsePortTypeCallBack">
        <wsdl:operation name="endApproved">
            <wsdl:input message="tns:endApprovedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="endNotApproved">
            <wsdl:input message="tns:endNotApprovedResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="LOProcessOneRequestTwoResponsePortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="LOProcessOneRequestTwoResponsePortTypePartnerLinkType">
        <plnk:role name="LOProcessOneRequestTwoResponsePortTypeProvider">
            <plnk:portType name="tns:LOProcessOneRequestTwoResponsePortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
