Chapter03/LoanOriginationProcess/LoanOrigination/SOA/WSDLs/LOProcessSendReceive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LOProcessSendReceive" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/LOProcessSendReceive"  xmlns:tns6="http://www.myloanoriginationsystem.org"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LOProcessSendReceive">
            <xsd:import namespace="http://www.myloanoriginationsystem.org" schemaLocation="../Schemas/LoanOrigination.xsd"/>
            <xsd:element name="receiveLoanOriginationReq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:LoanRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sendLoanOriginationRespResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SendLoanOriginationResp" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="receiveLoanOriginationReq">
        <wsdl:part name="parameters" element="tns:receiveLoanOriginationReq"/>
    </wsdl:message>
    <wsdl:message name="sendLoanOriginationRespResponse">
        <wsdl:part name="parameters" element="tns:sendLoanOriginationRespResponse"/>
    </wsdl:message>
    <wsdl:portType name="LOProcessSendReceivePortTypeCallBack">
        <wsdl:operation name="sendLoanOriginationResp">
            <wsdl:input message="tns:sendLoanOriginationRespResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="LOProcessSendReceivePortType">
        <wsdl:operation name="receiveLoanOriginationReq">
            <wsdl:input message="tns:receiveLoanOriginationReq"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="LOProcessSendReceivePortTypePartnerLinkType">
        <plnk:role name="LOProcessSendReceivePortTypeProvider">
            <plnk:portType name="tns:LOProcessSendReceivePortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
