Chapter05/LoanOriginationApp/LoanOriginationProject/BackOffice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/BackOffice" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/BackOffice"  xmlns:tns6="http://www.samplebank.org" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/BackOffice">
            <xsd:import namespace="http://www.samplebank.org" schemaLocation="xsd/BackOffice.xsd"/>
            <xsd:element name="startBO">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:LoanRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:LoanRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="startBO">
        <wsdl:part name="parameters" element="tns:startBO"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="BackOfficePortType">
        <wsdl:operation name="startBO">
            <wsdl:input message="tns:startBO"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="BackOfficePortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="BackOfficePortTypePartnerLinkType">
        <plnk:role name="BackOfficePortTypeProvider">
            <plnk:portType name="tns:BackOfficePortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
